ol{
    font-size: 25pt;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}
.listItems{
    font-size: 15pt;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    padding-top: 10px;
    cursor: pointer;
}
#crypto-ol{
    text-underline-offset: 5px;
}
body{
    background-color:  rgb(23, 158, 236)
}

li{
    font-size: 20pt;
    padding: 5px;
}
div#button{
    position: absolute;
    display: inline-block;
    color: blue;
    border: 25px;
    border-color: blue;
    border-style: solid;
    width: 100px;
    height: 90px;
    padding: 30px;
    border-top-left-radius: 25%;
    border-radius: 25%;
    text-align: center;
    font-size: 14pt;
    background-color: white;
    margin-left: 200px;
    margin-right: auto;
    margin-bottom: auto;
    margin-top: auto;
    padding-bottom: 40px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20pt;
    text-decoration: underline;
    cursor: pointer;
}
div#newAssetDiv{
    width: 535px;
    display: inline-block;
    padding-bottom: 190px;
    font-size: 25pt;
    padding-left: 25px;
    padding-top: 50px;
    text-underline-offset: 5px;
}
div#avg{
    padding-top: 10px;
    position: relative;
    font-size: 45px;
    padding-bottom: 25px;
    padding-left: 30px;
    position:static;
    font-family: 'Courier New', Courier, monospace;
}
div#closerLook{
    display: inline-block;
}
ol#crypto-ol>li{
    padding-top: 25px;
    padding-bottom: 10px;
    text-align: left;
}
div#divObj{
    border-style: solid;
    border-width: 5px;
    border-color: white;
    width: 1250px;
}