ol{
    font-size: 25pt;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}
li{
    font-size: 15pt;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    padding-top: 10px;
    cursor: pointer;
}
